syntax: glob
.#*
.DS_Store
.idea
.svn
target
out
*.iml
*.iws
*.ipr
*.log
*.out
*.class
build
.metadata
.settings
bin
html-template
.flexProperties
.actionScriptProperties
.hgignore
ebst3/www/META-INF/context.xml
.project
.classpath
bin-debug
ebst3/dist
ebst3/logs
ebst3/build.number
digiform3/temp-dep-lib/digiform30.jar
Servers
ebst3/build.properties
*.swf
