<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <security-constraint>
        <display-name>admin</display-name>
        <web-resource-collection>
            <web-resource-name>index</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>campaign</web-resource-name>
            <description/>
            <url-pattern>/campaign/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>callFlow</web-resource-name>
            <description>callFlow</description>
            <url-pattern>/callFlow/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>contactsList</web-resource-name>
            <description>contactsList</description>
            <url-pattern>/contactsList/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>interaction</web-resource-name>
            <description>interaction</description>
            <url-pattern>/interaction/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>system</web-resource-name>
            <description>system</description>
            <url-pattern>/system/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>template</web-resource-name>
            <description>template</description>
            <url-pattern>/template.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>audio</web-resource-name>
            <description>audio</description>
            <url-pattern>/audio/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>dialRule</web-resource-name>
            <description>dialRule</description>
            <url-pattern>/dialRule/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>email</web-resource-name>
            <description>/email/*</description>
            <url-pattern>/email/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>image</web-resource-name>
            <description>image</description>
            <url-pattern>/image/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>outgoingNumberPool</web-resource-name>
            <description>outgoingNumberPool</description>
            <url-pattern>/outgoingNumberPool/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ivrManagerAccounts</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/redirect.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/redirect.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/redirect.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/redirect.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IndexOutOfBoundsException</exception-type>
        <location>/redirect.jsp</location>
    </error-page>
</web-app>
